@import "./variables";

.firstPageSection{
    width: 100vw;
    height: 100vh;
    background-image: url("../image/water.jpg") ;
    grid-column-start: 1;
    grid-row-start: 1;
    position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}

.firstPage{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(10, 10vw);
    grid-template-rows: repeat(10, 10vh);
    width: 100vw;
    height: 100vh;
    h1{
        color: rgb(255, 255, 255);
        -webkit-text-stroke: 0.4px black;
        grid-column-start: 2;
        grid-column-end: 10;
        grid-row-start: 5;
        grid-row-end: 6;
        font-size: 9.3vw;
        text-shadow: $text-shadow;
    }

}

.strawberrieBowl{
    grid-column-start: 7;
    grid-row-start: 8;
    width: 250%;

}

.orangeBowl{
    grid-column-start: 2;
    grid-row-start: 3;
    width: 280%;
}

.text-scroll-banner{
    width: 100vw;
    height: 7vh;
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 10;
    grid-row-end: 11;
    background-color: #FFB6B6;
    align-self: end;
    position: absolute;
    display: flex;
    box-shadow: $box-shadow;
    p{
        color: rgb(255, 255, 255);
        -webkit-text-stroke: 1px black;
        font-size: 5.5vw;
        font-family: 'Red Rose', sans-serif;
        align-self: center;
    }
}
//Tablet
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1){
    .text-scroll-banner{
        p{
            font-size: 2.6vw;
            -webkit-text-stroke: 1.5px black;
        }
    }
    .strawberrieBowl{

        grid-row-start: 7;
        width: 210%;
    
    }
    
    .orangeBowl{
        width: 270%;
    }

    .firstPage{
        h1{
            grid-column-start: 2;
            grid-column-end: 10;
            grid-row-start: 5;
            grid-row-end: 6;
            font-size: 8vw;
            -webkit-text-stroke: .8px black;
        }
    
    }
}


//Desktop
@media (min-width:1025px) { 
    .text-scroll-banner{
        p{
            font-size: 2.7vw;
            -webkit-text-stroke: 1px black;
        }
    }
    .strawberrieBowl{
        grid-column-start: 9;
        grid-row-start: 7;
        width: 130%;
    
    }
    
    .orangeBowl{
        width: 160%;
    }

    .firstPage{
        h1{
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            width: fit-content;
            font-size: 6vw;
            -webkit-text-stroke: 0.1px black;
            margin-top: 4vw;
        }
    
    }
}

@media not all and (min-resolution:.001dpcm) { 
    @supports (-webkit-appearance:none) {
        .firstPage{
            h1{
                -webkit-text-stroke: 1px black;
            }
        
        }
    }
}
