
a{
    font-size:2.3vw;
    z-index: 1;
    place-self: center;
    text-decoration: none;
    color: black;
}
a:hover{
    color: #FF9E9E;
}

h2{
    font-size: 3.4vw;
    grid-column-start: 4;
    grid-row-start: 4;
    place-self: start center;
    color: white;
    -webkit-text-stroke: 0.3px black;
}

.PSignUp{
    grid-column-start: 1;
    grid-row-start: 4;
}

.PAboutUs{
    grid-column-start: 2;
    grid-row-start: 4;
}

.PMenu{
    grid-column-start: 3;
    grid-row-start: 4;
}

//Tablet
@media only screen and (min-device-width: 768px){
    h2{
        font-size: 3.4vw;
        grid-row-start: 3;
        grid-column-start: 4;
        -webkit-text-stroke: 0.5px black;
    }
    .PSignUp, .PAboutUs, .PMenu{
        font-size: 2vw;
        grid-row-start: 3;
    }
}


//Desktop
@media (min-width:1025px) { 
    h2{
        font-size: 3vw;
        grid-column-start: 5;
        grid-row-start: 2;
        -webkit-text-stroke: 0.1px black;
    }
    .PSignUp, .PAboutUs, .PMenu{
        font-size: 1.3vw;
        grid-row-start: 2;
    }
}
@media not all and (min-resolution:.001dpcm) { 
    @supports (-webkit-appearance:none) {
        h2{
            font-size: 3vw;
            grid-column-start: 5;
            grid-row-start: 2;
            -webkit-text-stroke: 1px black;
        }
    }
}
