
header{
    width: 100vw;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    position: fixed;
    z-index: 1000;
}

.headerBanner{
    width: 100vw;
    height: 10vw;
    
}

.headerContainer{
    width: 100vw;
    height: 5vh;
    display: grid;
    grid-template-columns: repeat(3, 10vw) 40vw 30vw;
    grid-template-rows: repeat(5, 1vw);
    position: absolute;
    top: 0;
    left: 0;
}

//Tablet
@media only screen and (min-device-width: 768px){
    .headerBanner{
        width: 100vw;
        height: 8vw;
    }
}


//Desktop
@media (min-width:1025px) { 
    .headerBanner{
        width: 100vw;
        height: 5vw;
    }


    .headerContainer{
        grid-template-columns: repeat(4, 7vw) 43vw auto;
    }
    
}