.menuSection{
    background-color: #FFF9DA;
    width: 100vw;
    height: 100vh;
}

.menuBanner{
    background-color: #ff7f623b;
    width: 85vw;
    height: 90vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


//Desktop
@media (min-width:1025px) { 
    .menuSection{
        height: 200vh;
    }
    .menuBanner{
       height: 200vh;
    }
}