.menuSection{
    background-color: #FFF9DA;
    width: 100vw;
    height: 100vh;
}

.menuBanner{
    background-color: #ff7f623b;
    width: 80vw;
    height: 80vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}