$text-shadow: 2px 2px 7px rgba(0,0,0, 0.5);
$box-shadow: rgba(59, 53, 53, 0.3) 0px 5px 5px, rgba(82, 76, 76, 0.22) 0px 1px 2px;
$yellow-btn:  #FEFFC0;
$yellow-btn-hover: #feffc080;
$background-color: #FFF9DA;