@import "./variables";
@import "./header";
@import "./headerText";
@import "./firstPage";
@import "./secondSection";
@import "./thirdSection";
@import "./signupSection";
@import "./toastSection";
@import "./drinkSection";
@import "./menuSection";
@import "./footer";
@import "./cookie";
@import "./effects";

*{
    margin: 0;
    padding: 0;
    font-family: 'Racing Sans One', monospace;
}

body{
    display: grid;

}
main{
    grid-column-start: 1;
    grid-row-start: 1;
}

html{
    overflow-x: hidden;
}
