header {
  width: 100vw;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 7;
  -ms-grid-row: 1;
      grid-row-start: 1;
  position: fixed;
}

.headerBanner {
  width: 100vw;
  height: 10vw;
  position: fixed;
}

.headerContainer {
  width: 100vw;
  height: 5vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10vw)[3] 40vw 30vw;
      grid-template-columns: repeat(3, 10vw) 40vw 30vw;
  -ms-grid-rows: (1vh)[5];
      grid-template-rows: repeat(5, 1vh);
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 2000px) and (-webkit-min-device-pixel-ratio: 1) {
  .headerBanner {
    width: 100vw;
    height: 10vw;
  }
}

p {
  font-size: 0.5em;
  z-index: 1;
  place-self: center;
}

h4 {
  font-size: 0.8em;
  -ms-grid-column: 4;
      grid-column-start: 4;
  -ms-grid-row: 3;
      grid-row-start: 3;
  place-self: start center;
  color: white;
  -webkit-text-stroke: 0.3px black;
}

.PSignUp {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.PAboutUs {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.PMenu {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  h4 {
    font-size: 1.6em;
    -ms-grid-row: 4;
        grid-row-start: 4;
    -webkit-text-stroke: 0.5px black;
  }
  .PSignUp, .PAboutUs, .PMenu {
    font-size: 1.1em;
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  h4 {
    font-size: 1.6em;
    -ms-grid-row: 4;
        grid-row-start: 4;
    -webkit-text-stroke: 0.5px black;
  }
  .PSignUp, .PAboutUs, .PMenu {
    font-size: 1.1em;
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
}

.firstPageSection {
  width: 100vw;
  height: 100vh;
  background-image: url("../image/water.jpg");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.firstPage {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10vw)[10];
      grid-template-columns: repeat(10, 10vw);
  -ms-grid-rows: (10vh)[10];
      grid-template-rows: repeat(10, 10vh);
  width: 100vw;
  height: 100vh;
}

.firstPage h1 {
  color: white;
  -webkit-text-stroke: 0.4px black;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 11;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 6;
  font-size: 2.3em;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}

.strawberrieBowl {
  -ms-grid-column: 7;
      grid-column-start: 7;
  -ms-grid-row: 8;
      grid-row-start: 8;
  width: 250%;
}

.orangeBowl {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
  width: 280%;
}

.text-scroll-banner {
  width: 100vw;
  height: 7vh;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 10;
  -ms-grid-row: 10;
      grid-row-start: 10;
  grid-row-end: 11;
  background-color: #FFB6B6;
  position: absolute;
  -ms-flex-item-align: end;
      align-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-scroll-banner p {
  color: white;
  -webkit-text-stroke: 1px black;
  font-size: 1.35em;
  font-family: 'Red Rose';
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Racing Sans One';
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20%)[5];
      grid-template-columns: repeat(5, 20%);
  -ms-grid-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
      grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
}

main {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */